* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(44, 41, 41);
    color: rgb(206, 73, 199);
}

h1 {
    padding-left: 80px;
    padding-right: 10px;
    background-color: rgb(206, 73, 199);
    color: rgb(44, 41, 41);
}   

nav ul li {
    display: inline;
    list-style-type: none;
    text-decoration: underline;
    padding-right: 20px;  
}

.background {
    background-image: url("../assets/backgroundimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.subheading-text {
    align-self: center;
    float: right;
    padding-top: 150px;
    padding-right: 50px;   
}

mark {
    padding: 10px;
    background-color: rgb(206, 73, 199);
    color: rgb(44, 41, 41);
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 15vh;
    gap: 10px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 50vh;
    gap: 10px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    padding: 20px;
}

footer ul li {
    display: inline;
    list-style-type: none;
}