* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(44, 41, 41);
    color: rgb(206, 73, 199);
}

h1 {
    padding-left: 80px;
    padding-right: 10px;
    background-color: rgb(206, 73, 199);
    color: rgb(44, 41, 41);
}   

nav ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;  
}

.background {
    background-image: url("../assets/backgroundimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.section-1 {
    background-image: url("../assets/avatar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    display: block;
}

.subheading-text {
    align-self: center;
    float: right;
    padding-top: 150px;
    padding-right: 50px;   
}

mark {
    padding: 10px;
    background-color: rgb(206, 73, 199);
    color: rgb(44, 41, 41);
}

.grid-1 {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 15vh;
    gap: 10px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 50vh;
    gap: 10px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    padding: 10px;
}

footer ul {
    display: flex; 
}
footer ul li {
    list-style-type: none;
    margin: 0 10px;
}

.workimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 60px;
    padding-left: 30px;
    size: 30px 40px;   
}

.workimg:hover {
    background-color: rgb(206, 73, 199);
}

@media screen and (max-width: 769px) {
    main {
        font-size: smaller;
        color: rgb(31, 33, 142);
    }

    header {  
      background: rgb(31, 33, 142);
      text-align: center;
    }

    header ul li {
       font-size: x-small;
       display: block;
    }

    footer {
      background-color: rgb(206, 73, 199);
      text-align: center;
    }

    footer ul {
        display: block;
    }

    footer ul li {
        font-size: smaller;
    }

    #section-1 {
        display: block;
    }
    
    .workimg {
        display: none;
    }

    article {
        background-image: url("../assets/newprojectsoon.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100px 100px;
    }
}

  